@model int

    <a id="btnadd-@Model" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a id="btndelete-@Model" class="btn btn-danger">
        <span class="glyphicon glyphicon-minus"></span>
    </a>
   <a id="btncopy-@Model" class="btn btn-info pull-right">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>




<input id="ACguardsite-@Model" name="ACguardsite-@Model" class="form-control" style="text-align:center" type="text" placeholder="Φύλαξη" />
<input id="[@Model].gsRGUID" name="[@Model].gsRGUID" type="hidden" value="">
<input id="from-@Model" name="[@Model].from" class="form-control" style="text-align:center" type="text" placeholder="00:00" />
<input id="to-@Model" name="[@Model].to" class="form-control" style="text-align:center" type="text" placeholder="00:00" />
@*<script src="~/Scripts/jquery-1.9.1.js"></script>*@
<script>

    // RemoveNameAttributes();

    $("input[id^=from-@Model]").mask('00:00');
    $("input[id^=to-@Model]").mask('00:00');

    $('#ACguardsite-'+@Model).autocomplete({
        source: '@Url.Action("AutoCompleteGuardSite", "WeeklyManualShift")',
        select: function (event, ui) {
            $('input[id^=\\[@Model\\]]').val(ui.item.RGUID);
            $('#ACguardsite-'+@Model).val(ui.item.RCODE + " - "+ ui.item.SITENAME);
            return false;
        }
    });


    $('#btncopy-@Model').click(function(){
        var model = @Model + 1;

        $('input[id^=\\['+model+'\\]]').val($('input[id^=\\[@Model\\]]').val());
        $('#ACguardsite-'+ model).val($('#ACguardsite-'+@Model).val());
        $('#from-' + model).val($('#from-' + @Model).val());
        $('#to-' + model).val($('#to-' + @Model).val());
    });


    $('#btnadd-@Model').click(function(){
        var model = @Model + 7;

        $('#btnadd-'+ model).hide();
        $('#day-'+ model).show();
    });


    @*function RemoveNameAttributes()
    {
        if(@Model > 6)
        {
            $('#ACguardsite-'+ @Model).removeAttr("name");
            $('input[id^=\\['+@Model+'\\]]').removeAttr("name");
            $('#from-' + @Model).removeAttr("name");
            $('#to-' + @Model).removeAttr("name");
        }
    }*@
</script>